<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../resources/css/app.css" />
  </head>
  <body class="spectrum spectrum--light spectrum--medium">
    {{{ content }}}
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../resources/js/app.js"></script>
  </body>
</html>
