---
title: Adobe Client Data Layer Data Element
layout: page
permalink: view/dataElements/dataLayerElement.html
---

<div class="field">
  <label for="message" class="spectrum-FieldLabel">
    Variable Path
    <svg class="spectrum-Icon spectrum-UIIcon-Asterisk spectrum-FieldLabel-requiredIcon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-Asterisk" />
    </svg>
  </label>
  <input type="text" id="path" class="spectrum-Textfield" required="required" data-bind="path" />
  <button class="spectrum-Tool open-data-element" title="Use Data Element" data-target="input[data-bind=path]">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Data">
      <use xlink:href="#spectrum-icon-18-Data"></use>
    </svg>
  </button>
</div>
